* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: block;
  height: 800px;
  /*background-color: #3f0e40;*/
  background-color: #00a27e;
  /*margin-bottom: 70px;*/
}

.container {
  width: 1070px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 100;
  box-shadow: 0px 6px 8px -8px white;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  font-size: 15px;
}
.mein-nav-menu {
  margin-left: 20px;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #fff;
}

.logo1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo2 {
  width: 80px;
  height: 40px;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: #fff;
  font-size: 35px;
  width: 600px;
  margin-top: 100px;
}

.gibkoe-s {
  font-size: 25px;
  padding-left: 150px;
  /*color: #ab47bc;*/
  /* color: #01785e;*/
  color: #012a6a;
}

.soft-skills-1 {
  color: #ffff00;

  font-size: 15px;
  margin-bottom: 140px;
}

.foto-book1 {
  float: right;
  margin-top: 50px;
}

.button1 {
  width: 200px;
  height: 50px;
  float: center;
  margin-left: 60px;
  border-radius: 20px;
  border: 0;
  background-color: #ffff00;
  color: #263238;
  -webkit-box-shadow: 17px 19px 38px -18px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 19px 38px -18px rgba(0, 0, 0, 0.38);
  box-shadow: 17px 19px 38px -18px rgba(0, 0, 0, 0.38);
}

/*team*/
.from-the-team {
  font-size: 21px;
  margin-bottom: 30px;
}

.team-img {
  width: 450px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.team-p {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
}

.team {
  padding-bottom: 60px;
  padding-top: 60px;
}

/*footer*/
.footer {
  height: 120px;
  background: #263238; /* Цвет фона */
  color: #fff; /* Цвет текста */
  width: 100%; /* Ширина слоя */
  font-size: 15px;
}

.logo-footer {
  float: left;
  padding-top: 40px;
}

.copyright {
  padding-top: 50px;
  margin-left: 450px;
}

.logo-footer-goit {
  float: right;
  height: 40px;
  width: 150px;
  padding-top: 40px;
}
