* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: block;
  height: 800px;
  background-color: #3f0e40;
  /*margin-bottom: 70px;*/
}

.container-main {
  width: 1070px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  height: 100;
  box-shadow: 0px 6px 8px -8px white;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  font-size: 15px;
}
.mein-nav-menu {
  margin-left: 20px;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #fff;
}

.logo1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo2 {
  width: 80px;
  height: 60px;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 35px;
  width: 600px;
  margin-top: 100px;
}

.gibkoe-s {
  font-size: 25px;
  padding-left: 150px;
  color: #ab47bc;
}

.soft-skills-1 {
  color: #ffff00;
  font-size: 15px;
  margin-bottom: 140px;
  font-size: 20px;
}

.foto-book1 {
  float: right;
  margin-top: 50px;
}

.button1 {
  width: 200px;
  height: 50px;
  float: center;
  margin-left: 60px;
  border-radius: 20px;
  border: 0;
  background-color: #ffff00;
  color: #263238;
  -webkit-box-shadow: 17px 19px 38px -18px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 17px 19px 38px -18px rgba(0, 0, 0, 0.38);
  box-shadow: 17px 19px 38px -18px rgba(0, 0, 0, 0.38);
}

h2 {
  text-align: center;
  color: #263238;
  margin-bottom: 30px;
  /*margin-top: 15px;*/
}
p {
  margin-bottom: 15px;
}

.key-concepts-main {
  background-color: #f6e8f9;
  padding-top: 70px;
  padding-bottom: 40px;
  display: block;
  margin-bottom: 30px;
}
.growth-fixed {
  margin-left: auto;
  margin-right: auto;
  /*padding-top: 30px;*/
  padding-bottom: 40px;
}

.growth {
  float: right;
}

.fixed {
  float: left;
}

.key-concepts-text {
  width: 550px;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  color: #263238;
  text-indent: 30px;
}

.container-about {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 1070px;
  margin: 0 auto;
}
.text-subject {
  display: flex;
}
.superman-img {
  margin-right: 50px;
  margin-top: 15px;
  width: 250px;
  height: 300px;
}
.subject-book {
  color: #263238;
  font-size: 20px;
  padding-top: 15px;
}
.education-container {
  padding-top: 30px;
  width: 1070px;
  margin: 0 auto;
  display: flex;
}
.about-education {
  color: #263238;
  font-size: 20px;
  padding-top: 35px;
}
.education-img {
  width: 400px;
  height: 350px;
  margin-top: -45px;
}
.family-section {
  display: flex;
  padding-top: -10px;
}
.family-img {
  width: 300px;
  height: 300px;
  margin-top: -25px;
  padding-right: 15px;
}
.about-family {
  color: #263238;
  font-size: 20px;
}
.business-section {
  display: flex;
  padding-top: 50px;
}
.business-img {
  width: 350px;
  height: 310px;
  margin-top: -20px;
}
.about-business {
  color: #263238;
  font-size: 20px;
  margin-top: 15px;
}
.section-conclusion {
  background: radial-gradient(ellipse, #ffe6f1, #ecb5f5);
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}
.setting {
  color: #9b5da6;
  margin-top: 30px;
}
.conclusion {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
h3 {
  text-align: center;
}
.motivation {
  display: flex;
}
.one-motivation {
  width: 280px;
  height: 265px;
  margin-right: -10px;
  margin-bottom: -29px;
}
.two-motivation {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-top: 37px;
  border-radius: 100px;
  border: 3px solid #3f0e40;
  box-shadow: 0 0 7px #666;
}
.third-motivation {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-top: 37px;
  border-radius: 100px;
  border: 3px solid #3f0e40;
  box-shadow: 0 0 7px #666;
}
.four-motivation {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-top: 37px;
  border-radius: 100px;
  border: 3px solid #3f0e40;
  box-shadow: 0 0 7px #666;
}
.five-motivation {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-top: 37px;
  border-radius: 100px;
  border: 3px solid #3f0e40;
  box-shadow: 0 0 7px #666;
}
.motive {
  color: #d91d65;
  margin-bottom: 10px;
  margin-top: 20px;
}
.quotes {
  display: block;
  padding-top: 40px;
  width: 1070px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.quote-book {
  font-size: 18px;
}
.lamp-idea {
  width: 70px;
  height: 90px;
  padding-right: 20px;
}
.section-quotes {
  display: flex;
}
.ml10 {
  margin-left: 10px;
}
.style-center {
  margin: 0 auto;
  padding-bottom: 20px;
}

/*team*/
.from-the-team {
  font-size: 21px;
  margin-bottom: 30px;
}

.team-img {
  width: 450px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.team-p {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
}

.team {
  padding-bottom: 60px;
  padding-top: 30px;
}

/*footer*/
.footer {
  height: 120px;
  background: #263238; /* Цвет фона */
  color: #fff; /* Цвет текста */
  /*width: 100%; /* Ширина слоя */
  font-size: 15px;
}

.logo-footer {
  float: left;
  padding-top: 40px;
}

.copyright {
  padding-top: 50px;
  margin-left: 450px;
}

.logo-footer-goit {
  float: right;
  height: 45px;
  width: 120px;
  padding-top: 15px;
  margin-top: 27px;
}
